---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, INNOVATORS!</h1>
			<p>
				Welcome to the official site for The Municipal Innovations Institute, founded in 2025 as a new and brand new Non-profit agency of the future.
			</p>
			<p>
				Social Engineers see the future of cities as being cleaner, greener, safer, more sustainably built and operated while leveraging the latest innovations in municipal software, open source, open government and open operations.
Social services innovators see the future of cities as being much healthier, happier and more FUN to live in. 
Social Innovators see the future of cities as being filled with opportunities to innovate and improve services with new and improved services delivery models of the future. 
Social impact innovators, who put their exponential impact lens of what is POSSIBLE in the future, see the future of cities as being uplifting and the ease of access of services being so simple and easy to access, compared to the 'dis-ease' and overly complicated and sometimes inhhumane and repeated systems that would create more pain and suffering and mental distress as a result of trying to access their services. 


			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
